<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @listing.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Software:</strong>
  <%= @listing.software %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>
<p>
  <strong>Seller:</strong>
  <%= @seller.email %>
</p>

<% if current_user.id == @listing.user_id %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>